<div class="row" style="margin: 70px auto 10px;">
    <div class="col-md-12" style="text-align: center;"><h3><a href="{{ path('engine', {'id': engine.id}) }}">{{ engine.name }}</a></h3></div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-thumbnail" src="{{ asset('bundles/acmework6/images/' ) }}{{ engine.img }}" alt="Generic placeholder image" style="width: 500px;">
    </div>
    <div class="col-md-8">{{ engine.description }}</div>
</div>