<div class="row" style="margin: 70px auto 10px;">
    <div class="col-md-12" style="text-align: center;"><h1><a href="{{ path('plane', {'id': plane.id}) }}">{{ plane.name }}</a></h1></div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-thumbnail" src="{{ asset('bundles/acmework6/images/' ) }}{{ plane.img }}" alt="Generic placeholder image" style="width: 500px;">
    </div>
    <div class="col-md-8">{{ plane.description }}</div>
</div>