<div id="header-container" class="navbar-wrapper">
    <div id="header-menu" class="container">
        <div id="enter-container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('about') }}">About me</a></li>
                        <li><a href="{{ path('guestbook') }}">Guestbook</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('add_article') }}">Add post</a></li>
                        {% endif %}
                    </ul>
                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <input id="search-input" type="text" class="form-control" placeholder="Search">
                        </div>
                        <button class="btn btn-search" onclick="inlineSearch('{{ path('homepage') }}')">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>