{% extends "BlogBundle:Default:index.html.twig" %}

{% block body %}
    {% block menu %}{{ include("BlogBundle::_menu.html.twig") }}{% endblock %}
    <div id="main-container" class="container">
        <div class="container">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4 form-left">
                        {{ form_widget(form.name, {'attr': {'novalidate': 'novalidate' , 'class' : 'form-control', 'placeholder' : 'Name'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.email, {'attr': {'novalidate': 'novalidate' , 'class' : 'form-control', 'placeholder' : 'E-mail'}}) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.save, {'attr': {'novalidate': 'novalidate' , 'class' : 'btn btn-search btn-lg btn-block'}}) }}
                    </div>
                    <div class="col-md-8 form-right">
                        {{ form_widget(form.message, {'attr': {'rows':'6' , 'novalidate': 'novalidate' , 'class' : 'form-control' , 'resize' : 'none', 'placeholder' : 'Input your message'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
            {{ form_end(form) }}
            <div class="container">
                <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'default') }}</div>
            </div>
        </div>
        <div class="container">
            {% for message in messages %}
                <div class="message-container">
                    <div class="message-header">
                        <div class="col-md-10">{{ message.name }}</div>
                        <div class="col-md-2">
                            {% if message.message|length > 100 %}
                                <button type="button" class="btn btn-search btn-xs but_{{ message.id }}" onclick="toggleMessage({{ message.id }})">Развернуть</button>
                                <button type="button" class="btn btn-search btn-xs but_{{ message.id }}" onclick="toggleMessage({{ message.id }})" style="display: none;">Свернуть</button>
                                {#<button type="button" class="btn btn-danger btn-xs" onclick="delMessage({{ message.id }})">Удалить</button>#}
                            {% endif %}
                        </div>
                    </div>
                    <div class="message-body" id="mes_{{ message.id }}">
                        <div>{{ message.message|slice(0, 100) }}{% if message.message|length > 100 %}...{% endif %}</div>
                        <div style="display: none;">{{ message.message }}</div>
                    </div>
                </div>
            {% endfor %}
            <div id="more-container">
                <div class="navbar navbar-inverse" onclick="showMorePosts();">
                    <h2>Show more</h2>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
        <div id="footer" class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            </div>
        </div>
    {% endblock %}
{% endblock %}
