{% extends "AcmeWork6Bundle:Default:index.html.twig" %}

{% block body %}
    <div class="navbar-fixed-top">
         <div class="container">
            {% block menu %}{{ include("AcmeWork6Bundle:Planes:_menu.html.twig") }}{% endblock %}
        </div>
        <div class="container" style="margin-top: 72px;">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-2">{{ form_widget(form.name, {'attr': {'novalidate': 'novalidate' , 'class' : 'form-control', 'placeholder' : 'Name'}}) }}</div>
                    <div class="col-md-2">{{ form_widget(form.email, {'attr': {'novalidate': 'novalidate' , 'class' : 'form-control', 'placeholder' : 'E-mail'}}) }}</div>
                    <div class="col-md-2">{{ form_widget(form.save, {'attr': {'novalidate': 'novalidate' , 'class' : 'btn btn-default'}}) }}</div>
                    <div class="col-md-3">{{ form_errors(form.name) }}</div>
                    <div class="col-md-3">{{ form_errors(form.email) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_widget(form.message, {'attr': {'novalidate': 'novalidate' , 'class' : 'form-control' , 'resize' : 'vertical', 'placeholder' : 'Input your message'}}) }}</div>
                    <div class="col-md-3">{{ form_errors(form.message) }}</div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container" style="margin: 190px auto 30px; width: 80%;">
        {% for message in messages %}
            <div class="row message-container">
                <div class="row message-header">
                    <div class="col-md-8">{{ message.name }}</div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default btn-xs but_{{ message.id }}" onclick="toggleMessage({{ message.id }})">Развернуть</button>
                        <button type="button" class="btn btn-default btn-xs but_{{ message.id }}" onclick="toggleMessage({{ message.id }})" style="display: none;">Свернуть</button>
                        <button type="button" class="btn btn-danger btn-xs" onclick="delMessage({{ message.id }})">Удалить</button>
                    </div>
                </div>
                <div class="message-body" id="mes_{{ message.id }}">
                    <div class="col-md-12">{{ message.message|slice(0, 100) }}...</div>
                    <div class="col-md-12" style="display: none;">{{ message.message }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ include("AcmeWork6Bundle:Planes:_footerGuest.html.twig") }}
{% endblock %}