<h4>Last articles</h4>
<ul>
    {% for article in byCreation %}
        <li><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
<h4>Most viewed articles</h4>
<ul>
    {% for article in byViewed %}
        <li><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
<h4>Last posts from guestbook</h4>
<ul>
    {% for article in posts %}
        <li><a href="{{ path('guestbook') }}">{{ article.title|slice(0, 35) }}...</a></li>
    {% endfor %}
</ul>
<h4>Tag cloud</h4>
<ul>
    {{ cloud|raw }}
</ul>